{% trans_default_domain 'AppBundle' %}
{% autoescape false %}
    <!doctype html>
    <html>
        <head>
        </head>
        <body>
            <p>{{'email_payment.body.wrong.1'|trans({'%username%': username})}}</p>
            <p>{{'email_payment.body.wrong.2'|trans}}</p>
            <p>{{'email_payment.body.wrong.3'|trans}}</p>
            <br/>
            {{'email_payment.footer.1'|trans}}
            {{'email_payment.footer.2'|trans}}
        </body>
    </html>
{% endautoescape %}
