{% trans_default_domain 'Pdf' %}
{% autoescape false %}
    <!doctype html>
    <html lang="en">
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>{{'invoice.title'|trans}}</title>
            <style>
                img {
                    border: 0;
                    vertical-align: middle;
                    padding: 0;
                    margin: 0;
                }
                .container{
                    max-width: 1000px;
                    margin: 0 auto;
                    border: 1px solid #CCC;
                    position: relative;
                }
                footer{
                    max-width: 1000px;
                    margin: 0 auto;
                    position: relative;
                }
                .box-12{
                     width: 97%;
                     padding: 12px;
                 }
                 .box-7{
                     float:left; width: 80%; padding: 15px;
                 }
                 .box-6{
                     float:left; width: 55%; padding: 15px;
                 }
                 .box-5{
                     float:right; width: 32%; padding: 15px;
                 }
                .box-2{
                     float:left; width: 13%; padding: 15px;
                 }
                 .clear{
                     clear: both;
                 }
                 table{
                     width: 100%;
                     border-spacing: 0px;
                }
                
                .table-detail{
                    width: 100%;
                    border-spacing: 1px;
                    border-color: #CCC;
                }
                th{
                    background-color: #333;
                    color: #fff;
                    padding: 5px 0;
                }
                .col-gray{
                    background-color: #CCC;
                }
                .alg-right{
                    text-align: right;
                }
                .alg-center{
                    text-align: center;
                }
                
                label{
                    color: #cdcdcd;
                    padding-right: 6px;
                }
            </style>
            
        </head>
        <body>
            {# Initialize variable #}
            {% set totalPercent = 0 %}
            <div class="container">
                <div class="box-6">
                    <img src="{{ invoice.base_dir ~ asset('/bundles/app/images/logo_diagomail_logged.png') }}">
                </div>
                 <div class="box-5">
                     <h2 class="alg-right">{{'invoice.title'|trans|upper}}</h2>
                </div>
                <div class="clear"></div>
            </div>
            <div class="container">
                <div class="entities-details">
                    <div class="box-6">
                        <table>
                            <tbody>
                                <tr>
                                    <td colspan="3"><strong>{{diagomail.company.name}}</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="3">{{diagomail.company.address|nl2br}}</td>
                                </tr>
                                <tr>
                                    <td colspan="3">{{diagomail.company.location|nl2br}}</td>
                                </tr>
                                <tr><td colspan="3">&nbsp;</td></tr>
                                <tr>
                                    <td>
                                        <label>{{'invoice.biller.email'|trans}}:</label>
                                        {{diagomail.company.email}}
                                    </td>
                                    <td>&nbsp;</td>
                                    <td><label>{{'invoice.contact_label'|trans}}</label></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>{{'invoice.biller.phone'|trans}}:</label>
                                        {{diagomail.company.phone}}
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>{{diagomail.company.contact}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>{{'invoice.biller.cif'|trans}}:</label>
                                        {{diagomail.company.cif}}
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>{{diagomail.company.contact_email}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>{{'invoice.vat'|trans}}:</label>
                                        {{diagomail.company.vat}}
                                    </td>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-2">&nbsp</div>
                    <div class="box-5">
                        {% set vatPercent = invoice.vat %}
                        <table>
                            <tbody>
                                <tr><td><strong>{{company.name}}</strong></td></tr>
                                <tr><td>{{company.address}}</td></tr>
                                <tr><td>&nbsp;</td></tr>
                                <tr><td>{{company.country}}</td></tr>
                                <tr><td><label>{{company.username}}</label><td></tr>
                                <tr><td><label>{{company.email}}</label><td></tr>
                                <tr>
                                    <td>
                                        <label>{{'invoice.biller.phone'|trans}}: {{company.phone}}</label>
                                    <td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>{{'invoice.vat'|trans}}: {{company.vat_number}}</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>{{'invoice.biller.type'|trans}}: {{invoice.account_type|capitalize}}</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="clear"></div>
                    <div class="box-12">
                        <table>
                            <tbody>
                                <tr>
                                    <td><label>{{'invoice.summary.number'|trans}}</label></td>
                                    <td><label>{{'invoice.summary.date'|trans}}</label></td>
                                    <td><label>{{'invoice.summary.reference'|trans}}</label></td>
                                    <td><label>{{'invoice.summary.service'|trans}}</label></td>
                                </tr>                                
                                <tr>
                                    <td>{{invoice.number}}</td>
                                    <td>{{invoice.date}}</td>
                                    {% set month = invoice.date|date('F')|lower %}
                                    <td>{{ ('invoice.months.' ~ month)|trans }} {{invoice.date|date('Y')}}</td>
                                    <td>Routing</td>
                                <tr>
                        </table>
                    </div>
                    <div class="clear"></div>    
                </div> 
                <div class="clear"></div>
                <div class="box-12">
                    <table class="table-detail">
                        <thead>
                            <tr>
                                <th>{{'invoice.items.title'|trans}}</th>
                                <th class="alg-center">{{'invoice.items.cost'|trans}}</th>
                                <th class="alg-center">{{'invoice.items.vat'|trans}}</th>
                                <th class="alg-center">{{'invoice.items.price'|trans}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for dataArticles in products %}
                            <tr>
                                <td class="col-gray">{{dataArticles.article}}</td>
                                <td class="alg-right">{{dataArticles.amount|number_format(2, ',', '.')}}</td>
                                <td class="alg-right col-gray">
                                    {% if invoice.vat > 0 %}
                                        {% set amountPercent = (dataArticles.amount * invoice.vat) / 100 %}
                                        {% set totalPercent = (totalPercent + amountPercent) %}
                                        {{ invoice.vat|number_format(2, ',', '.') }}
                                    {% else %}
                                        {% set amountPercent = 0 %}
                                    {% endif %}
                                </td>
                                <td class="alg-right">
                                    {% set amountArticle = (dataArticles.amount + amountPercent) %}
                                    {{ amountArticle|number_format(2, ',', '.') }} {{invoice.currency|raw}}
                                </td>
                            </tr>
                        {% endfor %}
                            <tr><td colspan="4">&nbsp;</td></tr>
                            <tr><td colspan="4">&nbsp;</td></tr>
                            <tr>
                                <td>{{'invoice.terms_pay.title'|trans}}</td>
                                <td class="alg-right">{{'invoice.items.subtotal'|trans}}</td>
                                <td>&nbsp;</td>
                                <td class="alg-right">{{ invoice.amount }} {{invoice.currency|raw}}</td>
                            </tr>
                            <tr>
                                <td><label>{{'invoice.terms_pay.paybox'|trans}}</label></td>
                                <td class="alg-right">
                                    {{'invoice.vat_title'|trans}}  {{ invoice.vat|number_format(2, ',', '.') }}%
                                </td>
                                <td>&nbsp;</td>
                                <td class="alg-right">{{ totalPercent|number_format(2, ',', '.') }} {{invoice.currency|raw}}</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td class="alg-right">{{'invoice.items.amount'|trans}}</td>
                                <td>&nbsp;</td>
                                <td class="alg-right">{{ (invoice.amount + totalPercent)|number_format(2, ',', '.')  }} {{invoice.currency|raw}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </body>
        <footer>
                <div class="box-7">
                    <label>http://www.diagomail.com</label>
                </div>
                 <div class="box-2">
                    <img width="20px" src="{{ invoice.base_dir ~ asset('/bundles/app/images/email_welcome_icon.jpg') }}">&nbsp;
                    <img width="80px" src="{{ invoice.base_dir ~ asset('/bundles/app/images/logo_diagomail.png') }}">
                </div>
        </footer>
    </html>
{% endautoescape %}